.checkoutProduct__container {
  display: flex;
  flex-direction: column;
}

.checkoutProduct__header {
  align-items: center;
  background-color: #edf1f9;
  display: flex;
  justify-content: space-around;
}

.checkoutProduct__header > p {
  color: #0b3c5b;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 10px;
}

.checkoutProduct__body {
  align-items: end;
  display: flex;
  justify-content: space-around;
}

.checkoutProduct__body > img {
  padding: 15px;
  text-align: center;
  vertical-align: top;
  width: 135px;
  max-height: 130px;
  width: auto;
  max-width: 300px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__info {
  padding-left: 0;
  padding-top: 15px;
  padding-right: 5px;
  text-align: left;
  padding-bottom: 15px;
}

.checkoutProduct__info > h3 {
  color: #0b3b6c;
  font-size: 15px;
  font-weight: 800;
  text-decoration: underline;
}

.checkoutProduct__qty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.checkoutProduct__qty > input {
  width: 60px;
  color: #444;
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  padding: 0;
  text-align: center;
}

.checkoutProduct__qty > button {
  background-color: white;
  border: none;
  color: #757575;
  cursor: pointer;
  padding-top: 3px;
  text-decoration: underline;
}

.checkoutProduct__price {
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
}
