.guitars__page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 25px;
}

.guitars__header > h1 {
  font-size: 45px;
  font-weight: 800;
}

.guitars__header > h4 {
  color: #227ca4;
  font-weight: 300;
  margin: 5px 0px;
}

.guitars__body {
  display: flex;
  margin-top: 10px;
}

.guitars__container {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.guitars__row {
  display: flex;
  flex-direction: row;
}

.filters__container {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.filters__container > h3 {
  border-bottom: 1px solid #e7e7e7;
  color: #156da1;
  font-size: 25px;
  font-weight: 500;
  padding: 20px 20px 10px 15px;
}

.filters__container > h2 {
  border-bottom: 1px solid #e7e7e7;
  color: black;
  font-size: 20px;
  font-weight: 400;
  padding: 20px 20px 10px 15px;
}

.filters__body {
  padding: 20px 15px 10px;
}
