.navBar__container {
  align-items: center;
  border: 1px solid #e0dfde;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 40px;
}

.navBar__link {
  color: black;
  text-decoration: none;
}

.navBar__link:hover {
  color: #227ca4;
  background-color: #faf9f8;
}

.navBar__productCategories {
  color: black;
}

.navBar__productCategory {
  color: black;
  text-decoration: none;
}

#dropdownLabel {
  color: black;
}

.dropdownCategory {
  color: black;
  text-decoration: none;
}

#navBar__productDropdown {
  display: flex;
}
