.valueAds {
  text-align: center;
  font-size: 30px;
}

.valueAds__links {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 40px;
}

.valueAds__link {
  border: 2px solid #eeebe7;
  border-radius: 6px;
  color: #227ca4;
  font-size: 15px;
  font-weight: bold;
  margin: 0 5px;
  padding: 25px;
  text-decoration: none;
}

.valueAds__link:hover {
  border-color: #227ca4;
}
